<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BMI Calculator</title>
  </head>
  <body>
    <h1>BMI Calculator</h1>
    <form action="/" method="POST">
      <label>Enter Height (in cm)</label>
      <br />
      <input
        type="number"
        name="height"
        required
        placeholder="Enter a height e.g. 75.5"
      />
      <br />
      <label>Enter Weight (in kg)</label>
      <br />
      <input
        type="number"
        name="weight"
        required
        placeholder="Enter a weight e.g. 89.3"
      />
      <br />
      <input type="submit" value="Calculate" />
    </form>
  </body>
</html>
